---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: headlamp-admin
  namespace: {{ dashboards_namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  name: headlamp-admin-token
  namespace: {{ dashboards_namespace }}
  annotations:
    kubernetes.io/service-account.name: headlamp-admin
type: kubernetes.io/service-account-token
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: headlamp-admin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: headlamp-admin
    namespace: {{ dashboards_namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: headlamp
  namespace: {{ dashboards_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: headlamp
  template:
    metadata:
      labels:
        app: headlamp
    spec:
      serviceAccountName: headlamp-admin
      nodeSelector:
        kubernetes.io/hostname: {{ k3s_ingress_node_name }}
      tolerations:
        - key: CriticalAddonsOnly
          operator: Exists
      containers:
        - name: headlamp
          image: {{ headlamp_image }}
          args:
            - "-in-cluster"
            - "-plugins-dir=/headlamp/plugins"
          ports:
            - containerPort: 4466
          readinessProbe:
            httpGet:
              path: /
              port: 4466
            initialDelaySeconds: 5
          resources:
            limits:
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: headlamp
  namespace: {{ dashboards_namespace }}
spec:
  type: NodePort
  selector:
    app: headlamp
  ports:
    - port: 80
      targetPort: 4466
      nodePort: {{ headlamp_nodeport }}
